html {
  --shadow-alpha: 0;
  --shadow-visibility: hidden;
  overflow-x: hidden;
}

body {
  margin: 0;
}

h1 {
  font-size: 7rem;
  font-family: "Montserrat Alternates", sans-serif;
}

#smooth-content {
  height: 7000px;

  background-color: #e9e9ff;
}

.sezione {
  width: 100vw;
}

.box {
  width: 400px;
  height: 400px;

  position: absolute;
  left: 0;
  transform: translateX(-50%) rotate(45deg);
  will-change: transform;

  background-size: cover;
}

.box-a,
.box-a2 {
  left: 10px;
  top: 200px;
  width: 50vw;
  height: 50vw;
  background-image: url(img/cartone1.jpeg);
  border-radius: 6px;

  box-shadow: 4px 3px 10px 1px rgba(0, 0, 0, 0.75);
}

.box-a2 {
  background-image: url(img/lino.jpeg);
  transform: translateX(-50%) rotate(40deg);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

.box-b {
  top: 0;
  left: 100%;
  background-image: url(img/carta1-clipped.png);
  transform: translateX(-50%) rotate(12deg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vh;
  width: 40vw;
}

.box-wrap {
  position: absolute;
  top: 0;
  right: 0;
  filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.75));
}

.cutter-wrap {
  position: absolute;
  top: 0;
  right: 0;
  filter: drop-shadow(19px 1px 8px rgba(0, 0, 0, 0.75));

  pointer-events: none;
}

@media (max-width: 800px) {
  .box-a {
    top: 20%;
  }
}

.font1 {
  font-size: 7rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.font2 {
  font-size: 7rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
}

.font3 {
  font-size: 1rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
}

#cutter {
  width: 120vh;
  transform: rotate(-15deg);
}

.contatti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#wa-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.contatti-text {
  font-family: "Manrope", sans-serif;
  padding: 12px;
  font-size: medium;
}

#wa-btn-img {
  width: 200px;
}

.cutter-wrap {
  position: absolute;
  top: 0;
  right: 0;
  filter: drop-shadow(19px 1px 8px rgba(0, 0, 0, 0.75));

  pointer-events: none;
}

#cutter {
  position: relative;
  top: 0;
  width: 120vh;
  transform: translateX(-100vw) rotate(-15deg);
}

#contatti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 92%);
  width: 350px;
  height: 130px;

  box-shadow: inset 0px 0px 12px -5px #00000080;

  background-color: white;
}

.contatti-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contatti-cover {
  width: 350px;
  /* max-width: 80vw; */
  height: 130px;
  position: absolute;
  background-color: #e9e9ff;
  will-change: rotatex, translatey;

  transform: translateY(130px);
  z-index: 9;

  border: #00000040 solid 1px;
  border-bottom: #00000060 dashed;
}

.contatti-cover:after {
  content: "";
  position: absolute;
  visibility: var(--shadow-visibility);
  opacity: var(--shadow-alpha);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 10px 8px 40px -19px #00000080;
  clip-path: polygon(0 0%, 100% 0, 110% 140%, -10% 140%);
}

#contatti div:nth-child(1) {
  transform: translateY(0px);
  z-index: 3;
}

.main-content {
  margin: 0;
  position: absolute;
}

.main-content .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;

  background-image: url(img/BG-Tagliato@4x.png);
  background-repeat-y: no-repeat;

  background-size: cover;
  filter: drop-shadow(0px 3px 5px #00000040);
}

.main-content svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 200px;
  background-color: #e9e9ff;
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
}

#sez-2 {
  display: flex;
  width: 300vw;
}

#sez-2 section {
  width: 100vw;
  height: 100vh;
}

#sez-2 .font2 {
  font-size: 6rem;
}